/* stylelint-disable @stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-size: 2.25rem;
}

[dir="ltr"] .blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

[dir="rtl"] .blog-header-logo {
  font-family: Amiri, Georgia, "Times New Roman", serif;
}

.blog-header-logo:hover {
  text-decoration: none;
}

[dir="ltr"] h1, [dir="ltr"] h2, [dir="ltr"] h3, [dir="ltr"] h4, [dir="ltr"] h5, [dir="ltr"] h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

[dir="rtl"] h1, [dir="rtl"] h2, [dir="rtl"] h3, [dir="rtl"] h4, [dir="rtl"] h5, [dir="rtl"] h6 {
  font-family: Amiri, Georgia, "Times New Roman", serif;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }

@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
[dir] .blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
[dir] .blog-post {
  margin-bottom: 4rem;
}

.blog-post-meta {
  color: #727272;
}

[dir] .blog-post-meta {
  margin-bottom: 1.25rem;
}
